<section *ngIf="!isEditMode">
  <ul>
    <li *ngFor="let item of users | filterPipe;let i = index;" (click)="selectedUser=item" class="user-selector">
      {{i}} : {{item.name}} <span class="age">{{item.age | myPipe}}</span><button (click)="deleteUser(i)">Remove User</button>
    </li>
  </ul>
  <button (click)="deleteUser(0)">Remove first user</button>
  <button (click)="addUser()">Add User</button>
<h1>{{title}}</h1>
<h1>Detail {{[1,2,3] | sumPipe}}</h1>
<div>
  <b>Name:</b>{{selectedUser.name}}
  <b>Age:</b>{{selectedUser.age | myPipe}}
  <b>Weight:</b>{{selectedUser.weight}}
  <b>Height:</b>{{selectedUser.height}}
  <span *ngIf="selectedUser.isHealthy()">Good health</span>
  <span *ngIf="!selectedUser.isHealthy()">Bad health</span>
</div>
<button (click)="isEditMode=true">EDIT</button>
</section>
<section *ngIf="isEditMode">
<h2>Editor</h2>
<div>
  <input type="text" [(ngModel)]="selectedUser.name" /><br/>
  <input type="number" [(ngModel)]="selectedUser.age" /><br/>
  <input type="number" [(ngModel)]="selectedUser.weight" /><br/>
  <input type="number" [(ngModel)]="selectedUser.height" /><br/>
  <p>BMI {{getBMI()}}</p>
  <button (click)="onCheckAge()">Check Age</button>
</div>
<button (click)="isEditMode=false">DETAILS</button>
</section>